/* GENERAL STYLES */

body {
overflow-x: hidden;
}

h1{
  font-family: 'Rozha One', serif;
  font-size: 72px;
  color: white;
}

h2{
  font-family: 'Rozha One', serif;
  font-size: 42px;
  color: #4E5476;
  margin-bottom: 24px;
}

h3{
font-family: 'Open Sans', sans-serif;
font-size: 32px;
color: #4E5476;
font-weight: 100;
margin-bottom: 24px;
}

nav{
  color: white;
  position: absolute;
  padding: 24px;
  right: 10px;
}

li{
  text-decoration: none;
  display: inline-block;
  padding: 0px 24px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

li:after{
  height: 20px;
  width: 20px;
  background-color: white;
}

p{
  font-size: 16px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
  color: #4E5476;
  line-height: 2.1;
}

small{
  font-size: 14px;
  font-weight: 100;
}

hr{
  background-color: white;
  width: 40px;
  height: 1px;
  display: table-caption;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: underline;
  color: white;
}

.div-margin-top{
  margin-top: 64px;
}
/* HEADDER BLOCK STYLES */

.header-background-img{
  width: 100%;
  height: 100vh;
  background-color: orange;
  background-image: url("../styles/assets/header-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  background-image: url("../styles/assets/logo.png");
  width: 300px;
  height: 38px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 24px;
   margin-left: 40px;
}

.header-title{
  margin-top: 30vh;
  color: white;
  letter-spacing: 1.2px;
}

.header-title p{
  color: white;
}

.header-social-links{
  position: absolute;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  bottom: 40px;
}

.header-social-links a{
  text-decoration: none;
  color: white;
}

.header-social-links a:hover{
  text-decoration: underline;
  color: white;

}
.header-social-links a:visited{
  text-decoration: none;
  color: white;
}

.header-social-links li{
  padding-left: 50px;
}

/* SCROLL FOR MORE STUFF */

.scroll-for-more {
  position: absolute;
  bottom: 35px;
}


.scroll-for-more p{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  display: inline-block;
}

.line{
  height: 1px;
  width: 150px;
  background-color: white;
  display: inline-block;
  margin-left: 16px;
  position: relative;
  top: -4px;
}

.dot{
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: white;
  display: inline-block;
  position: relative;
  left: -7px;

}

/* FIRST BLOCK STYLES */

.color-block{
  background-color: #FFF1EA;
  height: 700px;
  top: 200px;
  border: 100px solid white;
}

.first-block-copy{
  margin-top: 100px;
}

.first-block-img{
  height: 600px;
  width: 100%;
  background-image: url("../styles/assets/first-block-img.png");
  position: relative;
    top: -51px;
}

/* Carousel stuff */

.carousel-container{
  margin-top: 80px;
}

.container {
  max-width: 80%;
  background-color: red;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.container .carousel-img {
  background-color: red;
  width: 100%;
  display: inline-block;
  display: none;
}
.container img {
  width: 49%;
  height: auto;
}

#img-1{
  background-color: yellow;
  height: 500px;
  display: inline;
}

#img-2{
  background-color: yellow;
  height: 250px;
  display: inline;
}

#img-3{
  background-color: yellow;
  height: 250px;
  display: inline;
}

.one{
  display: inline;
  height: 100px;
  width: 40%;
  background-color: blue;
}

.two{
  display: inline;
  height: 100px;
  width: 40%;
  background-color: yellow;
}

button {
  position: absolute;
}

.next {
  right: 50px;
}

.prev {
  left: 50px;
}
