body {
  background-color: yellow;
}

.header-background-img{
  width: 100%;
  height: 100vh;
  background-color: orange;
  background-image: url("../styles/assets/header-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-family: 'Rozha One', serif;
  font-size: 72px;
  color: white;
}

nav{
  color: white;
  float: right;
  padding: 24px;
}

li{
  text-decoration: none;
  display: inline-block;
}

p{
  font-size: 16px;
}

.header-title{
  margin-top: 40vh;
}

.header-title p{
  color: white;
  font-weight: 400;
}

.header-social-links{
  position: absolute;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  bottom: 40px;
}

.scroll-for-more{
  position: absolute;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  bottom: 40px;
}

.header-social-links li{
  padding-left: 50px;
}
