body {
  background-color: yellow;
}

.header-background-img{
  width: 100%;
  height: 100vh;
  background-color: orange;
  background-image: url("../styles/assets/header-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-family: 'Rozha One', serif;
  font-size: 56px;
  color: white;
}
