/* GENERAL STYLES */

body {

}

h1{
  font-family: 'Rozha One', serif;
  font-size: 72px;
  color: white;
}

h2{
  font-family: 'Rozha One', serif;
  font-size: 42px;
  color: #4E5476;
}

nav{
  color: white;
  position: absolute;
  padding: 24px;
  right: 10px;
}

li{
  text-decoration: none;
  display: inline-block;
  padding: 0px 24px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

li:after{
  height: 20px;
  width: 20px;
  background-color: white;
}

p{
  font-size: 16px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
  color: #4E5476;
  line-height: 1.7;
}

small{
  font-size: 14px;
  font-weight: 100;
}

hr{
  background-color: white;
  width: 40px;
  height: 1px;
  display: table-caption;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: underline;
  color: white;
}


/* HEADDER BLOCK STYLES */

.header-background-img{
  width: 100%;
  height: 100vh;
  background-color: orange;
  background-image: url("../styles/assets/header-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  background-image: url("../styles/assets/logo.png");
  width: 300px;
  height: 38px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 24px;
   margin-left: 40px;
}

.header-title{
  margin-top: 30vh;
  color: white;
  letter-spacing: 1.2px;
}

.header-title p{
  color: white;
}

.header-social-links{
  position: absolute;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  bottom: 40px;
}

.header-social-links a{
  text-decoration: none;
  color: white;
}

.header-social-links a:hover{
  text-decoration: underline;
  color: white;

}
.header-social-links a:visited{
  text-decoration: none;
  color: white;
}

.scroll-for-more p{
  position: absolute;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  bottom: 40px;
}

.header-social-links li{
  padding-left: 50px;
}

/* FIRST BLOCK STYLES */

.color-block{
  background-color: #FFF1EA;
}
